.boxpair {
	background-color: #aaa;
	height: 190;
	padding: 10;
	text-align: center;
}

.boximpair {
	background-color: #ccc;
	height: 190;
	padding: 10;
	text-align: center;
}
.eau {
	background-color: #3a85ff;
}
